* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: 'Kanit', sans-serif;
    font-family: 'Work Sans', sans-serif;
            
}

a:link,
a:visited {
  text-decoration: none;
  color: #f71707;
}

body {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto;
    background-color: #215A69;
}

header {
    height: 191px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(32,43,57,1) 35%);
    display: flex;
}

#me { 
    position: relative;
    left: 30px;
    height: 125px;
    width: 125px;
    border-radius: 25%;
}

.header-left {
    display: flex;
    flex: 0 0;
    justify-content: flex-start;
    font-size: 45px;

}

.header-right {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    min-width: max-content;
}


h1 {
    font-size: 44px;
    color: gray;
}

nav ul li a {
    color: red;
    font-size: 25px;
}

nav ul li{
    display: inline;
    margin-right: 15px;
}

main {
    display: flex;
}

.side-bar {
    display: flex;
    height: 1100px;
    width: 0px;
    flex-direction: column;
    flex-grow: .5;
}

h2{
    font-size: 70px;
    color: gray;
}

#about-me {
    display: flex;
    height: 220px; 
    justify-content: center;
}

#projects {
    display: flex;
    height: 760px;
    justify-content: center;
    color: rgb(145, 109, 109);
}

#contact-me {
    display: flex;
    height: 300px;
    font-size: 50px;
    justify-content: center;
}

#article {    
    display: flex;
    flex: 1 0 200px;
    flex-direction: column;           
}

p {
    display: flex;
    width: 50%;
    height: 220px;
    font-size: 20px;
    letter-spacing: 1.5;
    color: rgb(224, 224, 196);
}

#refactor {
    height: 450px;
    width: 782px;
    padding: 1px;
    box-shadow: 10px 10px 10px black;
}

#r

#project-1 {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;

}

.other-projects {
    display: flex;
}

#password {
    height: 140px;
    width: 220px;
    margin-top: 40px;
    box-shadow: 10px 10px 10px black;
}

#computer {
    height: 140px;
    width: 220px;
    margin-top: 40px;
    margin-left: 60px;
    box-shadow: 10px 10px 10px black;
}

#gitlab {
    height: 140px;
    width: 220px;
    margin-top: 40px;
    margin-left: 60px;
    box-shadow: 10px 10px 10px black;
}

.container { 
    display: flex;
    margin-top: 130px;
    height: 20px;
    width: 190px;          
}

button {
    display: inline-block;
    height: 50px;
    background-color: rgb(172, 170, 168);
    font-size: 25px;
    text-decoration: none;          
}

button {width: 200px}

button:hover {
    cursor: pointer;
    background-color: rgb(110, 109, 109);
}

footer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: gray;
}

@media screen and (max-width: 1024px) {

}

@media  screen and (max-width: 768px) {

    
}

@media screen and (max-width: 480px) {
    
}
    








/* TO DO: media queries, nav bar decoration, project hover function, */