* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: 'Kanit', sans-serif;
    font-family: 'Work Sans', sans-serif;
            
}

body {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto;
    background-color: #215A69;
}

header {
    height: 191px;
    width: 100%;
    background-color: #202B39;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(32,43,57,1) 35%);
    display: flex;
}

#me { 
    position: relative;
    left: 30px;
    height: 125px;
    width: 125px;
    border-radius: 25%;
}

.header-left {
    display: flex;
    flex: 0 0;
    justify-content: flex-start;
    font-size: 45px;

}

.header-right {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    min-width: max-content;
}


h1 {
    font-size: 44px;
    color: gray;
}

li {
    display: inline;
    /* color: red; */
    font-size: 25px;
}

main {
    display: flex;
}

.side-bar {
    display: flex;
    height: 1100px;
    width: 0px;
    flex-direction: column;
    flex-grow: .5;
 
}

h2{
    font-size: 70px;
    color: gray;
}

#about-me {
    display: flex;
    height: 220px; 
    justify-content: center;
}

#projects {
    display: flex;
    height: 760px;
    justify-content: center;
    color: rgb(145, 109, 109);
}

#contact-me {
    display: flex;
    height: 300px;
    font-size: 50px;
    justify-content: center;
}

#article {    
    display: flex;
    flex: 1 0 200px;
    flex-direction: column;           
}

p {
    display: flex;
    width: 50%;
    height: 220px;
    font-size: 20px;
    color: gray;
}

#refactor {
    height: 450px;
    width: 782px;
    padding: 1px;
    box-shadow: 10px 10px 10px black;
}

#project-1 {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;

}

.other-projects {
    display: flex;

}

#password {
    height: 140px;
    width: 220px;
    margin-top: 40px;
    box-shadow: 10px 10px 10px black;
}

#computer {
    height: 140px;
    width: 220px;
    margin-top: 40px;
    margin-left: 60px;
    box-shadow: 10px 10px 10px black;
}

#gitlab {
    height: 140px;
    width: 220px;
    margin-top: 40px;
    margin-left: 60px;
    box-shadow: 10px 10px 10px black;
}

.container { /* stopped here */
    display: block;
    margin-top: 20px;
    height: 20px;
    width: 190px
    
}

.contact:focus {
    background-color: lightblue;
}

.form {
    margin-top: 97px;
    height: 20px;
    width: 190px;
}

.contact {
    height: 20px;
    width: 190px;
}

#email {
    margin-top: 13px;
}

button {
    margin-left: 110px;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: gray;
}

@media screen and (max-width: 900px) {
    header {
    height: 191px;
    width: 100%;
    background-color: #202B39;
    display: flex;
    }
}
    